<h2 id="title">Create Delivery</h2>

<form [formGroup]="deliveryForm">
    <div class="form-group">
        <label>Package:</label>
        <input type="text" formControlName="package_id" [matAutocomplete]="auto" placeholder="Package ID or description">
        <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'400px'">
            <mat-option *ngFor="let package of filteredPackages | async" [value]="package.package_id">
                {{ package.description }}
            </mat-option>
        </mat-autocomplete>
    </div>

    <div formGroupName="location">
        <h4 id="location-title"> Choose your driver address</h4>
        <button type="button" (click)="selectDriverLocation()">Click to choose driver location</button>
        <div *ngIf="showDriverMap" class="map-modal-overlay">
            <div class="map-modal">
                <app-map-selector (locationSelected)="onLocationSelected($event)"></app-map-selector>
            </div>
        </div>
        <div class="form-group">
            <label>Latitude:</label>
            <input type="number" formControlName="lat" required placeholder="Latitude">
        </div>
        <div class="form-group">
            <label>Longitude:</label>
            <input type="number" formControlName="lng" required placeholder="Longitude">
        </div>
    </div>


    <button type="button" (click)="createDelivery()" [disabled]="deliveryForm.invalid">Submit</button>
</form>
