<h2>Create Delivery</h2>

<form [formGroup]="deliveryForm">
    <div class="form-group">
        <label>Package:</label>
        <input type="text" formControlName="package_id" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'400px'">
            <mat-option *ngFor="let package of filteredPackages | async" [value]="package.package_id">
                {{ package.description }}
            </mat-option>
        </mat-autocomplete>
    </div>

    <div formGroupName="location">
        <h4> Choose your delivery address</h4>
        <app-map-selector (locationSelected)="onLocationSelected($event)"></app-map-selector>
        <div class="form-group" hidden>
            <label>Latitude:</label>
            <input type="number" formControlName="lat" required placeholder="Latitude">
            <div *ngIf="deliveryForm.get('location.lat').errors">
                Valid latitude is required.
            </div>
        </div>
        <div class="form-group" hidden>
            <label>Longitude:</label>
            <input type="number" formControlName="lng" required placeholder="Longitude">
            <div *ngIf="deliveryForm.get('location.lng').errors">
                Valid longitude is required.
            </div>
        </div>
    </div>

    <button type="button" (click)="createDelivery()" [disabled]="deliveryForm.invalid">Submit</button>
</form>
